/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* set font size */
    font-family: 'Courier New', Courier, monospace;
}

/* make video background take up full screen*/
video{
    width:100vw;
    height:100vh;
    object-fit:cover;
}

/* position video container */
.video-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: white;
    text-align: center;
}

/* position video */
.video-container video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    background-size: cover;
    transition: 1s opacity;
}

/* create gray */
.video-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3); 
    z-index: 1;
}

.header-content {
    position: absolute;
    left:50px;
    bottom:50px;
    z-index: 2;
    padding: 20px;

    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.header-content h1 {
    font-size: 3em;
    margin: 0;
}

.header-content p {
    font-size: 1.5em;
    margin: 10px 0 0;
}


nav li{
    color:aliceblue;
}


@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.credits{
    position:absolute;
    color:white;
    bottom:20px;
    right:20px;
    font-size:10px;
    z-index:10;
}






@media screen and (max-width: 1000px) {
    .header-content{
        left:50%;
        transform:translate(-50%,0);
        width:100vw;
    }
    .credits{
        left:50%;
        transform:translate(-50%,0);
        text-align: center;
        width:80vw;
        max-width:400px;
    }
  }
  
 